vpc_name = "your-vpc-name"
owner = "your-name"
f5xc-ce-site-name = "your-site-name"
aws-ssh-key = "your-ssh-key-name"
aws-region = "eu-west-3"
aws-f5xc-ami = "ami-032a3669fe1532f76"
aws-ec2-flavor = "m5.2xlarge"
slo-private-ip = "10.0.1.10"
sli-private-ip = "10.0.2.10"
f5xc_api_url = "https://your-tenant.console.ves.volterra.io/api"
f5xc_api_p12_file = "/path/to/your/api-cert.p12"
f5xc_sms_description = "F5XC SMSv2 AWS site created with Terraform"
f5xc_default_sw_version = true
f5xc_software_version = null
aws_shared_config_files = ["~/.aws/config"]
aws_shared_credentials_files = ["~/.aws/credentials"]
aws_profile = "default"
public_subnet_name = "your-public-subnet-name"
private_subnet_name = "your-private-subnet-name"
proxy_ip_address = "192.168.1.100"
proxy_port = 8080